# Imports and exports

[Eurostat](https://ec.europa.eu/eurostat/web/energy/data/energy-balances)

In [1]:
import pandas as pd
import os
import pyxlsb
import numpy as np

In [2]:
tj_ktoe = 41.868

In [3]:
def get_variable(file, variable, col_start, col_end):
    """Reads variable for fuel in multiple sheets and converts 
    the value from ktoe to TJ.
    """
    trajectory = {}
    for year in range(2002,2019):
        df = pd.read_excel(
            file,
            engine='pyxlsb',
            sheet_name=str(year),
            skiprows=[0,1,2,3],
            index_col=1
            )   
        trajectory[year] = sum(df.loc[variable, col_start:col_end]) * tj_ktoe
    return pd.Series(trajectory)

## Imports

In [4]:
# Imports of bioenergy

imports = pd.DataFrame()

countries = ('CZ', 'AT', 'DK', 'NL', 'PL', 'SK')

for file in os.listdir('Energy-Balances-June-2020-edition'):
    if file.startswith(countries):
        data = get_variable('Energy-Balances-June-2020-edition/' + file, 'Imports', 'Bioenergy', 'Bioenergy')
        imports[f'{file[:2]}'] = data

imports.to_csv(
    'imports_bioenergy_2002_2018.csv',
    index_label='Rok',
    decimal=',',
    columns=countries,
    )

imports

,AT,NL,DK,SK,CZ,PL
2002,8231.248800,7925.319324,8975.494368,113.294808,227.217636,47.645784
2003,9013.552380,5659.883712,11489.709636,98.641008,1294.265484,53.842248
2004,12976.023636,14521.790196,16376.793804,20.599056,913.141080,122.128956
2005,15944.841648,30562.258356,23039.876664,330.673464,2042.990928,173.710332
2006,30300.122808,29407.706388,21556.619028,1230.500520,2010.250152,284.576796
2007,34281.853344,31186.426500,23881.967748,2766.637440,1749.370644,1121.643720
2008,33639.305148,40301.383176,29680.727616,2558.092932,4739.248260,7330.249440
2009,39358.557684,33501.852504,31293.859788,2667.075336,5175.596556,10391.679468
2010,39989.717784,33712.155468,44058.282552,2284.318080,5706.817740,19331.418564
2011,46584.890748,37351.070820,50783.916204,2731.970736,9249.311088,23373.145944
2012,44971.381764,41762.576376,61168.352508,2858.705172,10354.626288,10333.776024
2013,46695.715344,33144.048576,58830.150312,3119.877756,11589.020532,8837.581176
2014,46660.839300,30164.763564,62554.936932,5329.922004,13824.185580,43306.751952
2015,47114.562816,29360.688624,61034.374908,7565.882544,18643.778532,40072.323348
2016,42598.973412,29108.433924,69933.753252,7358.635944,20898.872748,37260.845280
2017,42491.665728,28531.702224,88632.127656,8451.097668,21936.487392,33640.519320
2018,46039.811256,32024.288916,87731.421372,7459.998372,20343.326256,39538.087668

In [5]:
# Imports of solid biomass

imports = pd.DataFrame()

countries = ('CZ', 'AT', 'DK', 'NL', 'PL', 'SK')

for file in os.listdir('Energy-Balances-June-2020-edition'):
    if file.startswith(countries):
        data = get_variable('Energy-Balances-June-2020-edition/' + file, 'Imports', 'Primary solid biofuels', 'Primary solid biofuels')
        imports[f'{file[:2]}'] = data

imports.to_csv(
    'imports_solid_2002_2018.csv',
    index_label='Rok',
    decimal=',',
    columns=countries,
    )

imports

,AT,NL,DK,SK,CZ,PL
2002,6577.002252,4085.981856,5899.996692,0.000000,0.000000,0.000000
2003,6769.008900,2792.009448,8395.999380,0.000000,1078.017264,0.000000
2004,10788.001956,7508.983932,11647.007712,0.000000,499.987656,0.000000
2005,10861.145352,12579.994224,16285.982112,0.000000,1359.998244,0.000000
2006,16451.318844,9353.981088,17082.981360,0.000000,711.002376,0.000000
2007,18335.336976,11369.004192,18000.979128,2.009664,942.992964,0.000000
2008,15230.531700,13720.017996,21752.016984,1.004832,915.988104,0.000000
2009,19126.851516,20055.986172,24049.984032,15.993576,1583.992044,0.000000
2010,20699.246124,23153.004000,35479.613088,4.982292,2231.020116,0.000000
2011,24176.383524,22245.012684,37013.112324,2.009664,3033.001656,0.000000
2012,20238.405048,18944.013960,41344.356924,3.014496,4008.986604,0.000000
2013,20241.419544,12975.981768,41974.679664,28.009692,4740.001884,0.000000
2014,18864.841572,5758.985268,43621.724916,6.991956,4916.014956,33086.019528
2015,17021.226060,3749.991156,39598.712532,10.006452,6011.993592,27342.985968
2016,15138.003420,4189.981968,47705.906448,15.993576,8731.990080,24305.002020
2017,14561.020512,3112.006572,63128.151720,221.984136,10271.015892,16580.984040
2018,15015.958200,4770.356184,61827.522300,134.982432,8660.563272,21934.184652

In [6]:
# Imports of Biofuels
imports = pd.DataFrame()

countries = ('CZ', 'AT', 'DK', 'NL', 'PL', 'SK')

for file in os.listdir('Energy-Balances-June-2020-edition'):
    if file.startswith(countries):
        data = get_variable('Energy-Balances-June-2020-edition/' + file, 'Imports', 'Pure biogasoline', 'Other liquid biofuels')
        imports[f'{file[:2]}'] = data

imports.to_csv(
    'imports_biofuels_2002_2018.csv',
    index_label='Rok',
    decimal=',',
    columns=countries,
    )

imports

,AT,NL,DK,SK,CZ,PL
2002,0.000000,758.983104,1503.982296,0.000000,1.465380,0.000000
2003,0.000000,36.006480,1692.011484,0.000000,2.219004,0.000000
2004,0.000000,3506.612472,2444.002632,0.000000,115.430076,0.000000
2005,2072.382264,11491.049412,2631.989952,239.736168,289.014804,0.000000
2006,9684.822024,12824.587080,2792.176920,837.862416,850.004136,71.719884
2007,10698.195096,14154.272892,2872.270404,1937.148624,308.525292,672.818760
2008,13586.333472,20125.277712,3926.129832,1951.425612,3291.871500,6572.229300
2009,15452.683308,8239.538664,3513.604428,1985.338692,2896.135164,9473.430492
2010,14408.244180,5417.300520,4008.902868,1651.022712,2872.856556,18422.589888
2011,15827.360040,6243.732972,8484.298992,1571.682852,5051.122992,22238.062596
2012,18869.279580,5481.023616,10509.914700,1259.724384,4734.768384,8135.580420
2013,19886.881320,0.000000,10279.808172,1843.196832,5067.870192,7365.292956
2014,20732.740524,4994.978004,10791.979416,2888.180244,6596.219664,7167.843468
2015,22127.028660,6156.019512,10303.882272,4195.801620,9308.219364,9591.330780
2016,20341.316592,5837.110956,9988.197552,4264.507008,9322.077672,10545.502500
2017,19717.148448,6149.906784,11172.894480,4626.120924,8561.671056,15240.496284
2018,23287.944564,7314.925752,11136.929868,4488.249600,9390.280644,15687.185976

## Exports

In [7]:
# Exports of bioenergy

exports = pd.DataFrame()

countries = ('CZ', 'AT', 'DK', 'NL', 'PL', 'SK')

for file in os.listdir('Energy-Balances-June-2020-edition'):
    if file.startswith(countries):
        data = get_variable('Energy-Balances-June-2020-edition/' + file, 'Exports', 'Bioenergy', 'Bioenergy')
        exports[f'{file[:2]}'] = data

exports.to_csv(
    'exports_bioenergy_2002_2018.csv',
    index_label='Rok',
    decimal=',',
    columns=countries,
    )

exports

,AT,NL,DK,SK,CZ,PL
2002,8517.123504,12583.134324,3400.309620,187.484904,1659.647520,123.050052
2003,12662.348580,12441.327408,4719.612168,327.407760,6993.337644,163.620144
2004,19684.323936,16008.983424,5433.210360,684.206856,7222.983624,335.781360
2005,17032.279212,15009.175584,6279.488244,1995.135804,10267.331508,3288.396456
2006,15987.170196,15156.383472,5949.987084,2368.556496,11934.515268,3669.353388
2007,20790.434628,16070.194440,5865.581196,3642.181056,11616.820884,1550.037096
2008,22066.320060,19727.531712,7180.906284,6045.111180,13772.269260,824.841468
2009,19871.222688,17547.255612,6683.598180,6198.222456,13348.397628,1510.388100
2010,22766.897304,28665.554220,7842.588156,5555.799864,12055.848732,1644.114492
2011,21366.580176,25446.616776,6721.404984,6029.578152,12660.715728,3450.425616
2012,23760.215604,52751.795940,7268.870952,5993.152992,14065.931412,4748.459220
2013,21671.253612,67530.404448,6063.072552,5480.814276,17645.519808,8354.256984
2014,24624.036180,80574.798528,6462.995688,6214.216032,17655.065712,20292.959052
2015,27690.532236,76145.164128,6856.806096,7670.720016,21474.557748,34157.589120
2016,29437.181460,69180.212988,8931.114288,7922.849112,21756.622464,47354.340852
2017,31888.552860,80198.991360,13199.556888,8511.471324,21463.839540,40803.254892
2018,36676.912284,66122.969760,12966.059052,7719.873048,23004.498204,29267.992872

In [8]:
# Exports of solid biomass

exports = pd.DataFrame()

countries = ('CZ', 'AT', 'DK', 'NL', 'PL', 'SK')

for file in os.listdir('Energy-Balances-June-2020-edition'):
    if file.startswith(countries):
        data = get_variable('Energy-Balances-June-2020-edition/' + file, 'Exports', 'Primary solid biofuels', 'Primary solid biofuels')
        exports[f'{file[:2]}'] = data

exports.to_csv(
    'exports_solid_2002_2018.csv',
    index_label='Rok',
    decimal=',',
    columns=countries,
    )

exports

                AT            NL   DK           SK            CZ            PL
2002   7233.994908  11175.992712  0.0     4.019328      0.000000      0.000000
2003  11343.004164  11175.992712  0.0   203.017932   4819.006800      0.000000
2004  18229.997088  13937.019840  0.0   236.009916   4500.014508      0.000000
2005  14677.706628  11667.020616  0.0   914.983272   4599.995292      0.000000
2006  13101.502032  11540.997936  0.0  1167.991596   6883.015464      0.000000
2007  13744.385172  12200.000256  0.0  1148.983524   7886.005272      0.000000
2008  13827.200076  11138.018436  0.0  1018.983384   9588.986172      0.000000
2009  10708.745832  10165.006116  0.0   980.004276   8567.993124      0.000000
2010  13925.799216  10863.992376  0.0   920.007432   7114.001220      0.000000
2011  13135.833792   8845.996644  0.0   478.006956   8019.982872      0.000000
2012  12197.278836   9058.979160  0.0   525.987684   8033.003820      0.000000
2013   9392.583384  10673.995392  0.0   453.011760   9735.984720      0.000000
2014   9544.187412  11672.002908  0.0   488.013408   8213.999184   8973.987120
2015  10457.328492  11193.995952  0.0   475.997292   9387.014940  15338.006856
2016  11300.884956  10277.044884  0.0   447.987600  11397.013884  15708.999204
2017  12561.697908  10226.007792  0.0   687.012012  11753.896716  11150.704440
2018  14783.381460  10738.011564  0.0   494.000532  12408.754104  13546.223928

In [9]:
# Exports of biofuels

exports = pd.DataFrame()

countries = ('CZ', 'AT', 'DK', 'NL', 'PL', 'SK')

for file in os.listdir('Energy-Balances-June-2020-edition'):
    if file.startswith(countries):
        data = get_variable('Energy-Balances-June-2020-edition/' + file, 'Exports', 'Pure biogasoline', 'Other liquid biofuels')
        exports[f'{file[:2]}'] = data

exports.to_csv(
    'exports_biofuels_2002_2018.csv',
    index_label='Rok',
    decimal=',',
    columns=countries,
    )

exports

,AT,NL,DK,SK,CZ,PL
2002,0.000000,0.000000,1503.982296,0.000000,1158.110748,0.000000
2003,0.000000,0.000000,1692.011484,0.000000,1609.489656,0.000000
2004,0.000000,282.734604,2444.002632,423.243612,1939.325760,0.000000
2005,10.718208,161.568612,2631.989952,1038.828816,4866.820056,2726.151084
2006,236.344860,0.000000,2631.989952,701.330868,4104.278172,2968.315596
2007,3476.216304,0.000000,2631.989952,1770.848928,2441.867364,791.975088
2008,4878.794304,3855.875328,3675.005568,4453.959708,2933.523288,10.676340
2009,4862.800728,2293.989588,3112.508988,4649.567004,2977.442820,320.373936
2010,4846.053528,12561.111756,2849.996628,4096.700064,2980.582920,540.222804
2011,4005.009144,9197.478504,2083.644756,4468.278564,1574.655480,1437.747120
2012,6704.113500,32708.035224,1687.489740,3917.714364,2040.395112,1913.451336
2013,7848.324072,44638.991712,1425.019248,3816.016992,3282.828012,6028.782660
2014,10661.016312,55943.979732,1503.019332,3508.370928,3946.100868,8755.603632
2015,12257.778096,53512.035084,1084.339332,4379.560272,6185.829528,15609.102156
2016,13235.437764,48594.722220,1203.370056,5022.862092,5253.680376,29578.695300
2017,13576.285152,59713.690716,1765.238616,5049.825084,3922.571052,28146.977172
2018,16885.113192,45004.331880,2115.506304,5320.711044,5551.445592,14595.101064